.index4
  .top-wrapper
    %div
      %h1
        = image_tag 'check1.png'
        送信完了
      %p
        確認メールをお送りしました。ご確認ください。
        %br
        ご購入ありがとうございました。
    .btns
      %a.next{:href => "/index"}
        .btn.message.btn HOMEへ