.index3
  .top-wrapper
    %div
      %h1
        = image_tag 'check1.png'
        ご購入者様情報の確認
      %p
        ここに出力される
    .btns
      %a.next{:href => "/orders/confirmend"}
        .btn.message.btn 送信する
      %a.next2{:href => "/users/new"}
        .btn.message.btn2 戻る